.super-timesheet-table-container {
  width: auto;
  background-color: lavender;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow for better visibility */
}
.super-timesheet-tablebody {
  margin-top: 12px;
}

.super-timesheet-table-data th {
  text-align: center;
  background-color: #f0eef471;
  color: #1a1b1f;
  height: 45px;
  font-size: 15px;


}

.super-timesheet-table-data td {
  border-bottom: 1px solid #ddd;
  background-color: #fdfbff;
  /* width: 10%; */
  padding: 5px;
  text-align: center;
  font-size: 14px;
  height: 45px;

}

.super-timesheet-table-data {
  width: 100%;
  border-collapse: collapse; /* Use collapse instead of spacing */
}

.super-timesheet-table-data thead tr {
  background-color: #fdfbff;
}

.super-timesheet-table-data thead {
  font-size: 14px;
  text-align: center;
  /* padding: 5px; */

}

/* Additional styling for links */
.super-timesheet-tablebody td a {
  text-decoration: none;
}

.super-timesheet-tablebody td a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}

.dropdown-icon {
  position: relative;
}

.dropdown-popup {
  position: absolute;
  top: 90px; /* adjust the top position to match the icon's height */
  left: 90%;
  transform: translateX(0);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-popup-content {
  max-width: 200px;
  padding: 10px;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu .accept-dropdown-menu {
  color: green;
  font-weight: 600;
}

.dropdown-menu .pending-dropdown-menu {
  color: gold;
  font-weight: 600;
}

.dropdown-menu .reject-dropdown-menu {
  color: red;
  font-weight: 600;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .super-timesheet-tablebody th,
  .super-timesheet-tablebody td {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}
